.container{
    margin-left: 10px;
    height: 27px;
    margin-top: 8px;
    background-color: #FFF;
    color: #C0C0C0;
    border-radius: 20px;
    flex-wrap: wrap;
    
    border: 1px solid #C0C0C0;
}

.container:hover{
    border: 1px solid #0085A1;
    color: #0085A1;
}
